.Subscribe-button{
  background-color: rgb(202, 0, 0);
  color: white;
  border: none;
  height: 36px;
  width: 100px;
  border-radius: 2px;
  cursor: pointer;
  margin: 10px;
  transition: opacity 0.15s;
}
.Subscribe-button:hover{
  opacity: 0.7;
}
.Subscribe-button:active{
  opacity: 0.5;
}

.Join-button{
  background-color: white;
  color:  rgb(2, 204, 255);
  height: 36px;
  width: 50px;
  border-radius: 2px;
  border-color: rgb(2, 204, 255);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.15s, color 0.15s;
 }
.Join-button:hover{
  background-color: rgb(2, 204, 255);
  color: white;
}
.Join-button:active{
  opacity: 0.7;
}

 .Tweet-button{
  background-color: rgb(2, 204, 255);
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  border-style: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-right: 8px;
  transition: box-shadow 0.15s;
 
 }
 .Tweet-button:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
 }
 .Uber{
  background-color: black;
  color: white;
  cursor: pointer;
  height: 36px;
  width: 120px;
  border-style: solid;
  margin-right: 8px;
 }
  
.Amazon{
  background-color: rgb(255, 216, 20);
  color: black;
  cursor: pointer;
  border-style: none;
  border-radius: 10px;
  height: 36px;
  width: 200px;
  margin-right: 8px;
}
.Amazon:hover{
  background-color: rgb(228, 150, 4);
}
.Amazon:active{
  opacity: 0.8;
}

.Github{
  background-color: rgb(46, 164,79);
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-style: none;
  border-radius: 5px;
  height: 36px;
  width: 80px;
  margin-right: 8px;
}

.Down{
  background-color: white;
  color: rgb(108, 117, 125);
  border-color: rgb(108, 117, 125);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  cursor: pointer;
  width: 80px;
  height: 36px;
  margin-right: 8px;
}

.Strech{
  background-color: green;
  color: white;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-style: none;
  transition: padding-top 1s, padding-bottom 1s, padding-right 1s, padding-left 1s;
  margin-right: 15px;
}

.Strech:hover{
  padding-bottom: 16px;
  padding-right: 20px;
  padding-top: 16px;
  padding-left: 20px;
}
.Shadow{
  background-color: green;
  color: white;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-style: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.30);
}
.Shadow:active{
    margin-top: 10px;
    margin-left: 5px;
    box-shadow: none;
}


.Anchor{
margin-left: 4px ;
margin-right: 4px;

}
.Marginpad{
  background-color: green;
  border-style: none;
  color: white;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: padding-left 0.15s, padding-right 0.15s, padding-top 0.15s, padding-bottom 0.15s;
}
.Marginpad:hover{
padding-left: 16px;
padding-right: 16px;
}