.a{
  display: block;
  margin-bottom: 5px;
}
.b{
  display: inline-block;
  width: 200px;
  vertical-align: middle;
}
.button{
   vertical-align: middle;
}
.google{
  display: block;
  margin-left: 117px;
  
}
.box{
  width: 500px;
  height: 40px;
  border-radius: 20px;
  border-style: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: block;
}
.fb{
  width: 100px;
  height: 35px;
  border-radius: 10px;
  margin-top: 15px;
  border-style: solid;
  border-width: 1px;
  padding-left: 10px;
}
.email{
  width: 225px;
  height: 35px;
  border-radius: 10px;
  margin-top: 5px;
  border-style: solid;
  border-width: 1px;
  display: block;
}
.sign-up{
  width: 225px;
  height: 35px;
  background-color: rgb(78, 134, 247);
  color: white;
  text-align: center;
  display: block;
  border-style: none;
  border-radius: 20px;
  margin-top: 5px;
}
.uber{
  font-family: Arial;
  font-size: 35px;
  margin-bottom: 30px;
}
.u{
  width: 320px;
  border-style: none;
  height: 50px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25);
  display: block;
  margin-bottom: 10px;
}
.black{
  background-color: black;
  color: white;
  text-align: center;
  width: 100px;
  height: 35px;
  border-style: solid;
}
.later{
  width: 130px;
  height: 35px;
  border-style: none;
  margin-left: 15px;
}