.Heading{
  font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.Data{
  font-family: Montserrat;
  font-size: 25px;
  
}
.span{
  text-decoration: underline;
}